<div class="page helpers">
  <h1>Template Helpers</h1>
  <dl>
    <dt class="t_code">\{{liquid-outlet}}</dt>
    <dd>Animate the transition between routes</dd>
    <dt class="t_code">\{{liquid-with}}</dt>
    <dd>Animate the transition between different models on the same route</dd>
    <dt class="t_code">\{{liquid-bind}}</dt>
    <dd>Animate the transition from one value to another</dd>
    <dt class="t_code">\{{liquid-if}}</dt>
    <dd>Animate between true and false states</dd>
    <dt class="t_code">\{{liquid-spacer}}</dt>
    <dd>Smoothly grow width/height changes of a container</dd>
  </dl>
</div>
